# **Taller 3-1**

El archivo datalogger.csv contiene un conjunto de datos climáticos con la siguiente información:

- SN: número de la muestra.
- DATE: fecha y hora de la muestra.
- oC: temperatura en grados centígrados.
- %RH: porcentaje de humedad relativa.
- DP: punto de rocío (Dew Point).

Utilizando este conjunto de datos, realice los siguientes ejercicios:

## Ejercicio 1

Indique la cantidad de observaciones que contine el conjunto de datos.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
df = pd.read_csv('/gdrive/MyDrive/Programming/Colab/Datasets/datalogger2.csv', decimal=",")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37655 entries, 0 to 37654
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SN      37655 non-null  int64
 1   DATE    37655 non-null  object
 2   TIME    37655 non-null  object
 3   	oC     37655 non-null  float64
 4   	%RH    37655 non-null  float64
 5   	DP     37655 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 1.7+ MB

In [ ]:
df.head()

   SN        DATE      TIME  \toC  \t%RH  \tDP
0   1  20/12/2019  20:05:41  24.1   99.9  24.1
1   2  20/12/2019  20:10:41  24.3   93.5  23.2
2   3  20/12/2019  20:15:41  22.8   94.0  21.8
3   4  20/12/2019  20:20:41  21.7   96.0  21.0
4   5  20/12/2019  20:25:41  21.2   98.1  20.9

In [ ]:
# Vamos a crear una columna donde esté la información de la fecha y de la hora

df['datetime'] = df['DATE'] + ' ' + df['TIME']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37655 entries, 0 to 37654
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SN        37655 non-null  int64
 1   DATE      37655 non-null  object
 2   TIME      37655 non-null  object
 3   	oC       37655 non-null  float64
 4   	%RH      37655 non-null  float64
 5   	DP       37655 non-null  float64
 6   datetime  37655 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 2.0+ MB

# Ejercicio 2 (1.0)

Haga los siguientes cambios sobre el DataFrame:

Cambie los nombres y los tipos de datos de las columnas de la siguiente manera:

- Columna SN: cambie el tipo de dato a dato entero.
- Columna DATE: eliminar.
- Columna TIME: eliminar.
- Columna datetime: cambiar el tipo de dato a dato datetime64[ns].
- Columna \toC: cambiar nombre a T[C].
- Columna \t%RH: cambiar nombre a RH[%].
- Columna \tDP: eliminar.

# Ejercicio 3 (1.0)

- Graficar la temperatura con respecto al timepo.
- Graficar el porcentaje de humedad con respecto al tiempo.

Tenga en cuenta poner etiquetas a los ejes, títulos a las gráficas, la escala de temperatura debe ir desde 0°C a 50°C y la de porcentaje de humedad de 0% a 100%. Además, en el eje y poner las fechas rotadas 90 grados.

# Ejercicio 4 (1.0)

- Indique el año, mes, día y hora dónde la temperatura fue mayor e indique ese valor.
- Indique el año, mes, día y hora dónde la temperatura fue menor e indique ese valor.
- Indique el año, mes, día y hora dónde la humedad relativa fue mayor e indique ese valor.
- Indique el año, mes, día y hora dónde la humedad relativa fue menor e indique ese valor.

# Ejercicio 5 (1.0)

- Encuentre el año y mes dónde la temperatura promedio fue mayor.
- Encuentre el año y mes dónde la temperatura promedio fue menor.
- Encuentre el año y mes dónde la humedad relativa promedio fue mayor.
- Encuentre el año y mes dónde la humedad relativa promedio fue menor.

¿La información de temperatura y humedad se corresponde?

# Ejercicio 6 (1.0)

Escoja un día y determine:

- La temperatura máxima, mímina y promedio en la madrugada (00 horas a 06 horas).
- La temperatura máxima, mímina y promedio en la mañana (06 horas a 12 horas).
- La temperatura máxima, mímina y promedio en la tarde (12 horas a 18 horas).
- La temperatura máxima, mímina y promedio en la noche (19 horas a 00 horas).

¿Qué opina del resultado obtenido?